a:link {
  color: violet;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: lightgreen;
}

a:active {
  color: orange;
}

.answer {
  color: transparent;
}

.answer a:link, .answer a:visited, .answer a:hover, .answer a:active, .answer li {
  color: transparent;
}

p, ul li {
  font-size: 14pt;
}

ol > li {
  font-size: 18pt;
  font-weight: bold;
}

ul li {
  font-weight: normal;
}
